coretex-slideshow { 
    display: block; position: relative; overflow: clip; width: 100%;
}

coretex-slideshow li { margin: 0 }
coretex-slideshow [slideshow-container] { 
    display: flex; 
    align-items: flex-start; 
    transition: height 250ms ease-in-out;
    backface-visibility: hidden;

    max-height: var(--heightDesktop);
    @media (max-width: 777px) { max-height: var(--heightMobile) }
}

@media(min-width: 778px) { coretex-slideshow[auto-height="desktop"] [slideshow-slide] img { height: fit-content } }
@media(max-width: 777px) { coretex-slideshow[auto-height="mobile"] [slideshow-slide] img { height: fit-content } }
coretex-slideshow[auto-height="all"] [slideshow-slide] img { height: fit-content }

coretex-slideshow [slideshow-slide] { position: relative; flex: 0 0 100%; user-select: none }

coretex-slideshow [slideshow-slide] img { 
    width: 100vw;
    height: var(--heightDesktop, 700px);
    object-fit: cover;
    object-position: var(--imagePosition);

    @media (max-width: 777px) {
        height: var(--heightMobile, 600px);
    }
}

coretex-slideshow [slideshow-slide] svg { 
    width: 100%;
    max-height: var(--heightDesktop, 700);

    @media (max-width: 777px) {
        height: var(--heightMobile, 600px);
    }
}

coretex-slideshow [slideshow-slide] .meta {
    --hMargin: 0 0 var(--space-2);
    --hLine: 1.2;
    --hColor: var(--slideMetaHColor);
    --buttonColor: var(--slideMetaHColor); 
    --buttonColorHover: var(--buttonColor);
    --buttonBg: var(--slideMetaHBg);
    --buttonBgHover: var(--buttonBg);
    --buttonBorderColor: transparent;

    color: var(--slideMetaHColor); 
    position: absolute; 
    padding: var(--padding);
    max-width: 72ch;

    @media (max-width: 777px) {
        bottom: 0; left: 0;
    }

}

coretex-slideshow slider-progress {
    display: block;
    position: relative;
    inset-block-end: 0;
    inset-inline: 0;
    border-radius: 100vw;
    margin: 2px;
    overflow: hidden;
    z-index: 1;

    &[hidden] { display: none }
    &[hidden] [control-progress-bar] { animation-play-state: paused }

    [control-progress-bar] {
        width: 100%;
        height: 3px;
        background: currentColor;
        border-radius: 100vw;
        opacity: 1;
        animation-name: slideshow-progress;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
}

@keyframes slideshow-progress {
    from { transform: translate3d(-100%, 0, 0) }
    to   { transform: translate3d(0, 0, 0) }
}

coretex-slideshow slider-controls {
    --gap: 0;
    --buttonMargin: 0;

    display: block;
    padding: var(--space-2) var(--padding);
    width: fit-content;

    button.control-dot {
        --buttonBg: transparent;
        --buttonBorderColor: transparent;
        --buttonPadding: var(--space-2);

        opacity: 0.3;

        &.is-selected { opacity: 1 }

        &::after {
            content: '';
            background: currentColor;
            display: block;
            width: var(--space-2);
            height: var(--space-2);
            border-radius: 100vw;
        }

    }

    [control-numbers] { padding-inline: var(--buttonPadding) }
    [control-lines] { padding-inline: var(--buttonPadding) }

    &[position="over"] {
        position: absolute;
        inset-block-end: 0px;
        inset-inline: 0px;
        width: fit-content;
        margin-inline: auto;
        padding: var(--space-1);
    }
}