/* 
* This file is used for the `/password` page, not to be confused with `/account/login` 
*/

coretex-header, #footerGroup {
    padding: var(--padding);
    position: fixed;
    width: 100%;
    z-index: 1;
    border: 0;
    background: none;
    z-index: 3;
}

#footerGroup { inset-block-end: 0; margin: 0 auto; text-align: center; }

.footer[color-scheme] { background: transparent!important }

/* Meta */
.password .meta {
    --gap: var(--space-4) var(--space-10);
    --hMargin: 0;

    padding: var(--layoutInline);
    z-index: 2;
}

@media (max-width: 777px) { .password .meta { padding-block: var(--headSpace, 90px) } }

.password .meta .countdown { --gap: 0 var(--padding) }
.password .text { max-width: var(--charWidth, 60ch) }

/* Media */
.password .media { min-height: 100vh }

.password .media :where(img, video) {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    user-select: none;
    border-radius: 0;
}

.password .backdrop {
    background-color: rgb(0 0 0 / 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

password-modal, password-form, form-error { display: block }
password-modal :is(x-field,input,button,.button) { margin: 0 }
password-modal :is(input,button,.button) { height: 100%; min-height: 42px }

#login {
    --gap: var(--space-1);

    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    background: var(--bgColor);
    padding: var(--space-2);
    border-radius: var(--globalRadius);

    position: fixed;
    inset-block-end: var(--padding);
    inset-inline: 0;
    z-index: 100;
}

.socialNets { gap: var(--space-2) }

/* Newsletter block */
.newsletter.has-form {
    x-stack[presuffix] { background: transparent; border: none; color: currentColor; padding: 0; margin: 0; }
    x-stack[no-style] :is(input,button), x-field > label { color: currentColor }

    [data-form-status] {
        --hWeight: 500;
        & > x-cell:first-child { display: none }
    }
}

/* Form popup */
#login { display: none }
#login:target { display: flex }
#login:target + #loginFire { display: none }